* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#confetti {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    align-items: center;
    background-color: #222;
    display: flex;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

}

.container {
    /* color: #333; */
    color: #A9A9A9;
    margin: 0 auto;
    text-align: center;
    font-family: Brush Script MT;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

li {
    display: inline-block;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;

}

.emoji {
    display: none;
    padding: 1rem;
}

.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

.title {
    margin: auto;
    font-family: "Modak", cursive;
    font-size: 5rem;
    background: linear-gradient(#333, #444, #ede7f6, #38e8);
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Added */
    -webkit-background-clip: text; /* Added */
    -moz-background-clip: text;

    /* background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; */
}